git+https://github.com/rockstat/band#egg=band
jedi
# pyls-black
python-language-server[rope,pycodestyle,pydocstyle,pyflakes,yapf]
# autopep8
# python-language-server[yapf]
arrow
msgpack
ujson
prodict
simplech

